body{
    background-image: url("../img/macbook-pro-on-brown-wooden-table-2312369.jpg") ;
    background-size: 83%;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

.title{
font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 72px;
  color: #fff;
  text-align: center;
  }