/* Top-Navigation */

/* header */
.heading-section {
  width: 100%;
  height: 900px;
  background-color: #e0e0e0;
}
.header-img {
  width: 100%;
  /* height: 900px; */
  background-color: #e0e0e0;
  position: relative;
}
.heading-text {
  position: absolute;
  width: 539px;
  height: 148px;
  font-family: serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #333333;
  top: 30%;
  left: 20%;
  margin: 0;
  padding: 0;
  border: 0;
}

.heading-detail {
  position: absolute;
  width: 545px;
  height: 109px;
  font-family: Serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1.3;
  text-align: left;
  color: #666666;
  top: 65%;
  left: 20%;
}
.heading-album {
  position: absolute;
  top: 90%;
  left: 21.5%;
}
/* heading-card */
.heading-card {
  width: 375px;
  height: 267px;
  box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  padding-left: 30px;
}
.event {
  width: 42px;
  height: 11px;
  font-family: Serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: #e6e6e6;
  padding: 0;
}
.card-title {
  width: 195px;
  height: 22px;
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  color: #4d4d4d;
  padding: auto;
  margin-top: 15px;
}
.event-detail {
  width: 176px;
  height: 13px;
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 13px;
  text-align: left;
  color: #808080;
  margin: 20px 0 0 0;
  padding: 0;
}
.event-line {
  width: 83px;
  height: 1px;
  border: solid 1px #1a56d6;
  background-color: #1a56d6;
  margin: 30px 0 20px 0;
}
.event-time {
  width: 157px;
  height: 12px;
  font-family: serif;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.32px;
  text-align: left;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}
.readmore-button {
  width: 125px;
  height: 34px;
  background-color: #1a56d6;
  margin: 20px 0 0 0;
  display: table;
}
.read-more-button-text {
  font-family: "serif";
  font-size: 12px;
  color: #ffffff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.admission-card {
  text-align: center;
}
.admission-button {
  width: 270px;
  height: 67px;
  border: solid 2px #1a56d6;
  text-align: center;
  line-height: 67px;
}
.admission-title {
  width: 319px;
  height: 27px;
  font-family: w serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 27px;
  text-align: left;
  color: #4d4d4d;
  z-index: 15;
  top: 50%;
  left: 50%;
  padding: 0 0 90px 0;
}
/* about____________________________________________________________________________________ */
.about-section {
  width: 100%;
  height: 657px;
  border: solid 1px #b3b3b3;
  background-color: #ffffff;
  /* display: inline-block; */
}
.aboutLMS-container-left {
  margin: auto;
  width: 20%;
  text-align: right;
  padding: 100px 0 0 0;
}
.about-title {
  width: 159px;
  height: 23px;
  font-family: "PTserif";
  font-size: 30px;
  font-weight: bold;
  line-height: 23px;
  text-align: left;
  color: #192041;
  padding: 0 0 100px 0;
}
.about-text {
  width: 559px;
  height: 231px;
  font-family: "PTserif";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #666666;
}
.aboutLMS-container-right {
  margin: auto;
  width: 20%;
  margin: auto 500px auto 0;
  padding: 100px 0 0 0;
}
.about-png {
  width: 603px;
  height: 401px;
  object-fit: contain;
}

/* interested____________________________________________________________________________________ */
.interested-section {
  background-image: url("../img/interested-img.png");
  background-size: 102.9%;
  width: 100%;
  height: 848px;
  background-color: #fff;
}

.interested-container-title {
  padding: 100px 0 20px 310px;
}
.interested-title {
  width: 421px;
  height: 23px;
  font-family: "PTSerif";
  font-size: 30px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 1.2px;
  text-align: left;
  color: #4d4d4d;
}
.interested-container-card {
  justify-content: center;
  width: 100%;
  /* padding: 40px 0 0 0; */
}
.interested-card {
  width: 375px;
  height: 274px;
  border-radius: 4px;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* .courses____________________________________________________________________________________ */
.courses-section {
  width: 100%;
  height: 1001px;
  object-fit: contain;
}
.courses-container-title {
  padding: 0px 0 60px 315px;
}
.courses-title {
  width: 421px;
  height: 23px;
  font-family: "PTSerif";
  font-size: 30px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 1.2px;
  text-align: left;
  color: #4d4d4d;
}
.courses-card {
  width: 375px;
  height: 480px;
  box-shadow: 0px 2px 5px 0 rgba(27, 23, 26, 0.26);
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}
.courses-card-body-left {
  margin: 0 10px;
  width: 20%;
}
.courses-card-body-right {
  width: 20%;
}
.courses-card-title {
  width: 142px;
  height: 18px;
  font-family: "PTSerif";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.72px;
  text-align: left;
  color: #333333;
}
.courses-img {
  width: 375px;
  height: 349px;
  margin: 0;
  padding: 0;
  border: 0;
}
.money {
  font-family: "PTSerif";
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.92px;
  text-align: right;
  color: #1414d9;
  margin: 0 -10px;
}
.courses-card-details {
  width: 313px;
  height: 112px;
  font-family: PTSerif;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: left;
  color: #666666;
  margin: auto;
}
.apply-button {
  width: 161px;
  height: 51px;
  border-radius: 2px;
  background-color: #1a56d6;
  font-family: serif;
  font-size: 12px;
  line-height: 51px;
  letter-spacing: 0.24px;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin: 150px 0 0 30px;
}

/* archievement____________________________________________________________________________________ */
.archiments-section {
  width: 100%;
  height: 1000px;
  object-fit: contain;
  background-color: #ffffff;
}
.archievements-img {
  width: 100%;
  height: 600px;
}
.achievements-container-title {
  /* margin: 200px 100px 0 30px; */
  padding: 100px 0 100px 310px;
}
#ttt {
  width: 40px;
  height: 50px;
  color: #1414d9;
  font-size: 50px;
}
.achievements-container {
  /* padding: 0 0 0 30px; */
}
.achievements-card {
  padding: 0 70px 0 70px;
}
.achievements-active-student {
  width: 69px;
  height: 21px;
  font-family: "PTSerif";
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.75px;
  text-align: left;
  color: #333333;
}
.achievements-active-student-number {
  width: 125px;
  height: 12px;
  font-family: PTSerif;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.4px;
  text-align: left;
  color: #666666;
}
.achievements-line {
  width: 375px;
  height: 1px;
  border: solid 1px #555555;
  background-color: #555555;
  margin: 80px 0 0 300px;
}
.achievements-detail {
  width: 456px;
  height: 63px;
  font-family: "PTSerif";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #666666;
  margin: 50px 0 0 300px;
}
.achievements-img {
  background-image: url("../img/archievements-img.png");
  background-size: 100%;
  width: 1170px;
  height: 370px;
  object-fit: contain;
  background-color: rgba(33, 33, 33, 0.2);
  margin: 100px 0 0 300px;
  position: relative;
}
.achievements-img-title {
  width: 100%;
  font-family: "PTSerif";
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
  margin: 10% 40%;
  position: absolute;
}
/* live-class____________________________________________________________________________________  */
.live-class-section {
  width: 100%;
  height: 638px;
  background-color: #fafafa;
}
.live-class {
  text-align: center;
}
.live-class-container-left {
  display: inline-block;
  padding: 100px;
}
.live-class-title-1 {
  font-family: "PTSerif";
  font-size: 24px;
  line-height: 1.96;
  letter-spacing: 0.96px;
  text-align: left;
  color: #333333;
}
.live-class-title-2 {
  font-family: "PTSerif";
  font-size: 34px;
  line-height: 1.96;
  letter-spacing: 0.96px;
  text-align: left;
  color: #333333;
  font-weight: bold;
}
.live-class-detail {
  width: 508px;
  height: 88px;
  font-family: PTSerif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: left;
  color: #666666;
  margin: 50px 0 80px 0;
}
.live-class-button {
  width: 270px;
  height: 67px;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: #1a56d6;
  display: table;
}
.live-class-button-text {
  font-family: "Montserrat";
  font-size: 16px;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.live-class-container-right {
  display: inline-block;
  padding: 100px;
}
.live-class-img {
  width: 472px;
  height: 282px;
  background-color: rgba(33, 33, 33, 0.2);
}
.img1 {
  width: 481px;
  height: 337px;
  margin-left: 15px;
}

.img2 {
  width: 484px;
  height: 337px;
}

.img3 {
  width: 963px;
  height: 338px;
  margin-left: 15px;
}

.img4 {
  width: 962px;
  height: 674px;
}
.live-class-img-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
}
.live-class-img-button {
  width: 270px;
  height: 67px;
  opacity: 0.5;
  border-radius: 2px;
  background-color: #1a56d6;
  display: inline-block;
  position: absolute;
  margin: -68px -137px;
}
.live-class-img-button-text {
  width: 142px;
  height: 12px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 3;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
/* portal____________________________________________________________________________________ */
.portal-section {
  width: 100%;
  height: 852px;
  background-color: #ffffff;
}
/* info____________________________________________________________________________________  */
.info-section {
  width: 100%;
  height: 703px;
  background-color: #212121;
}
