.navbar-branch {
  width: 195px;
  height: 49px;
  font-family: Pacifico;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #1a56d6;
}
