/* Top-Navigation */
.topnav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #007bff !important;
  vertical-align: middle;
  display: flex;
}
.topnav-container {
  justify-content: space-between;
  color: #fff;
}
.topnav-text {
  width: 100%;
  justify-content: space-between;
}
/* Navigation */
.navbar {
  background-color: #ffffff !important;
  width: 100%;
  height: 126px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.26);
}

.navbar-branch {
  width: 195px;
  height: 49px;
  font-family: Pacifico;
  font-size: 36px;
  letter-spacing: 0.9px;
  text-align: left;
  color: #007bff;
  justify-content: center;
}
.navbar-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #007bff;
  font-weight: 600;
}
.fa-search {
  color: #007bff;
}
/* header */
.heading-section {
  width: 100%;
  height: 900px;
  background-color: #e0e0e0;
}
.header-img {
  width: 100%;
  /* height: 900px; */
  background-color: #e0e0e0;
  position: relative;
}
.heading-text {
  position: absolute;
  width: 539px;
  height: 148px;
  font-family: serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #333333;
  top: 30%;
  left: 20%;
  margin: 0;
  padding: 0;
  border: 0;
}
.heading-line {
  position: absolute;
  width: 210px;
  height: 2px;
  border: solid 2px #707070;
  background-color: #707070;
  top: 55%;
  left: 20%;
  margin: 5px;
}
.heading-detail {
  position: absolute;
  width: 545px;
  height: 109px;
  font-family: Serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1.3;
  text-align: left;
  color: #666666;
  top: 65%;
  left: 20%;
}
.heading-album {
  position: absolute;
  top: 90%;
  left: 21.5%;
}
/* heading-card */
.heading-card {
  width: 375px;
  height: 267px;
  box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  line-height: 267px;
  padding-left: 30px;
}
.event {
  width: 42px;
  height: 11px;
  font-family: Serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: #e6e6e6;
  padding: 0;
}
.card-title {
  width: 195px;
  height: 22px;
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  color: #4d4d4d;
  padding: auto;
  margin-top: 10%;
}
.event-detail {
  width: 176px;
  height: 13px;
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 13px;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  margin: 20px 0 0 0;
  padding: 0;
}
.event-line {
  width: 83px;
  height: 1px;
  border: solid 1px #1a56d6;
  background-color: #1a56d6;
  margin: 30px 0 20px 0;
}
.event-time {
  width: 157px;
  height: 12px;
  font-family: serif;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.32px;
  text-align: left;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}
.readmore-button {
  width: 125px;
  height: 34px;
  background-color: #1a56d6;
  font-family: serif;
  font-size: 12px;
  line-height: 34px;
  letter-spacing: 0.24px;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin: 20px 0 0 0;
}
.admission-card {
  text-align: center;
}
.admission-button {
  width: 270px;
  height: 67px;
  border: solid 2px #1a56d6;
  text-align: center;
  line-height: 67px;
}
.admission-title {
  width: 319px;
  height: 27px;
  font-family: serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.08;
  text-align: left;
  color: #4d4d4d;
}
/* about____________________________________________________________________________________ */
.about-section {
  width: 100%;
  height: 657px;
  border: solid 1px #b3b3b3;
  background-color: #ffffff;
}
/* interested____________________________________________________________________________________ */
.interested-section {
  width: 100%;
  height: 848px;
  object-fit: contain;
  background-color: #fff;
}
.interested-img {
  width: 100%;
  height: 848px;
}
/* courses____________________________________________________________________________________  */
.courses-section {
  width: 100%;
  height: 7101px;
  object-fit: contain;
}
/* archievement____________________________________________________________________________________ */
.archiments-section {
  width: 100%;
  height: 600px;
  object-fit: contain;
  background-color: #f7f7f7;
}
.archievements-img {
  width: 100%;
  height: 600px;
}
/* live-class____________________________________________________________________________________  */
.live-class-section {
  width: 100%;
  height: 538px;
  background-color: #fafafa;
}
/* portal____________________________________________________________________________________ */
.portal-section {
  width: 100%;
  height: 852px;
  background-color: #ffffff;
}
/* info____________________________________________________________________________________  */
.info-section {
  width: 100%;
  height: 703px;
  background-color: #212121;
}
