body{
    margin: 0;
    padding: 0;
    border: 0;
}
a:hover{
    text-decoration: none;
}

.logo {
  font-family: "Helvetica Neue";
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #31353e;
}
.navbar-text{
  font-family: "Helvetica Neue";
  font-size: 18px;
  text-align: center;
  color: #31353e;
}


.header-section{
    background-image: url("../img/header.png");
    background-size: 100%;
    width: 100%;
    height: 950px;
    position: relative;
}
.heading{
    height: 950px;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue";
  font-size: 72px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.sub-heading{
    /* height: 950px; */
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.dish-container{
  transform: translate(0,130%);
}
.dish{
  width: 134px;
  height: 134px;
  border: solid 0px #edeff1;
  border-radius: 100%;
  
}
.dish-title{
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-weight: bold;  
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 20px;
  padding: 0;
  border: 0;
}
.dish-detail{
  width: 303px;
  height: 74px;
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}
.readmore-button{
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 18px;
  text-align: center;
  color: #612316;
  justify-content: center;
  line-height: 2.9;
  margin-left:auto ;
  margin-right: auto;
  transform: translate(0,150%);
}

/* New------------------------------------------ */
.news-section{
  /* background-image: url("../img/news-img.jpg"); */
  background-size: 100%;
  width: 100%;
  height:600px;
  position: relative;
}
.news-title{
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-weight: bold;
  /* text-align: center; */
  color: #31353e;
}

.news-dish{
  width: 330px;
  height: 220px;
  object-fit: contain;
}

.news-title{
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-weight: 300;
  /* text-align: center; */
  color: #31353e;
}
.news-detail{
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 300;
  color: #31353e;
  /* text-align: justify; */
}



.news-readmore-container{
  width: 160px;
  height: 54px;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #333;
  text-align: center;
}
.news-readmore-container{
  width: 179px;
  height: 54px;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  display: table;
}

.news-readmore-button{
  width: 71px;
  height: 11px;
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 300;
  line-height: 3;
  text-align: center;
  color: #4e5159;
  display: table-cell;
}

/* email------------------------------------------- */
.email-section{
  background-image: url("../img/news-img.jpg");
 background-size: 100%;
 width: 100%;
 height: 270px;
}
.email-title{
  width: 154px;
  height: 24px;
  font-family: "RobotoSlab";
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}

.email-detail{
  width: 533px;
  height: 38px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 200;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
}

.email-field{
  width: 500px;
  height: 54px;
  border-radius: 27px;
  border: solid 1px #fff;
  background-color:rgba(255, 255, 255, 0.4);
  /* background: transparent; */
  box-shadow: none;
  outline: none;
  padding: 20px;
  /* opacity: 0.4; */

}

.email-field-button{
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  position: absolute;
  font-family: "RobotoSlab";
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  margin-left: -210px;
  color: #612316;
}
.signup-section{
  width: 100%;
  height: 1018px;
}

.signup-title-1{
  font-family: "RobotoSlab";
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6; 
  text-align: left;
  color: #191b29;

}
.signup-detail-1{
  width: 561px;
  height: 137px;
  font-family: "RobotoSlab";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.88;
  text-align: left;
  color: #191b29;
}
.img{
  width: 586px;
  height: 405px;
  border: solid 1px #999;
  background-color: #fff;
}
.signup-button{
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #dd4b2b;
  line-height:3 ;
  font-family: "RobotoSlab";
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
.name-section{ 
  background-color: #d75d0e;
  color: #fff;
}
.name-text{
  font-family: "RobotoSlab";
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  /* text-align: center; */
  color: #ffffff;
}
.end-name-section{
  background-image:url("../img/news-img.jpg");
  background-size: 100%;
  width: 100%;
  height: 270px;
  color: #fff;
  font-weight: 90;
  font-family: "Helvetica Neue";
  vertical-align:middle;
  line-height: 270px;
  font-size: 18px;
}